.nav {
  background-color: $primary-background;
  display: flex;
  //list-style: none;
  justify-content: center;

  .button {
    flex: 1;

    &:nth-of-type(n+2) {
      margin-left: 10px;
    }
  }
}
