// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.main-content {
  background-color: $primary-background;
  display: flex;
  flex-direction: column;
  padding:  0 10px;
  flex: 1;
}

.title {
  display: flex;
  flex: 1;
  align-items: center;

  h1 {
    color: $orange1;
    font-family: $fatface-copy;
    flex: 0 1 auto;
    margin: 20px;
    //text-align: center;
    letter-spacing: 10px;
    text-shadow: 4px 4px 2px $gold;
  }
}

.line {
  background-color: $gold;
  display: block;
  flex: 1 1 auto;
  height: 3px;
}
