/************************
 ***   My CSS   ***
 ************************/
.site
  background: $ss-silver
  display: flex
  flex-direction: column
  margin-left: auto
  margin-right: auto
  max-width: 1280px
  min-height: 100vh

.holly-grail-body
  flex: 1
  display: flex

.main-content
  background-color: $ss-silver
  flex: 1

.nav
  background-color: $white
  flex: 0 0 10em
  order: -1
  display: flex
  flex-direction: column

  a
    text-decoration: none

.ads-aside
  background-color: $white
  flex: 0 0 10em
  text-align: center

.nav-pil
  background: $grey
  border: 2px solid $black
  border-radius: 10px
  color: $black
  flex: 0 0 auto
  //height: 3em
  margin: 10px 10px 0
  padding: 10px 0
  text-align: center
